<nav class="navbar navbar-expand-sm bg-light text-dark navbar-light fixed-top"
  style="position: sticky; top: 0; z-index: 1000; ">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Fixed top</a> -->
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#allbooks">Books</a> -->
        <a class="nav-link" [routerLink]="[]" fragment="viewbooks" (click)="scrollTo('viewbooks')">Book</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="admin/viewBooks/#Pending-Book">Pending Returns</a> -->
        <a class="nav-link" [routerLink]="[]" fragment="Pending-Book" (click)="scrollTo('Pending-Book')">Pending
          Returns</a>

      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="admin/viewBooks/#returnedBook" >Returned Books</a>  -->
        <a class="nav-link" [routerLink]="[]" fragment="returnedBook" (click)="scrollTo('returnedBook')">Returned Books</a>

      </li>

      <form class="d-flex position-relative w-100" (submit)="onSearch($event)">
        <div class="position-relative" style="width: 250px;">
          <input class="form-control me-2 pe-4" type="search" [(ngModel)]="searchTerm" name="searchTerm"
            placeholder="Search" aria-label="Search" (ngModelChange)="onSearchInputChange()">

          <!-- Clear (×) icon -->
          <!-- <span *ngIf="searchTerm" class="position-absolute top-50 end-0 translate-middle-y me-3 text-muted"
                        style="cursor: pointer; font-size: 1.3rem;" (click)="clearSearch()">&times;</span> -->
        </div>

        <button class="btn btn-outline-success ms-2" type="submit">Search</button>

      </form>


    </ul>
  </div>
</nav>

<!-- <div class="container mt-3" id="book">
       
        
    </div> -->
<div class="pendingCard container mt-3">
  <!-- Books Card -->
  <div class="card card-custom mb-3 shadow-sm" id="viewbooks">
    <div class="card-header bg-dark text-white fw-bold">Books</div>
    <div class="card-body p-0 table-responsive">
      <table class="table table-dark table-hover table-bordered m-0">
        <thead class="thead-dark">
          <tr>
             <th>Sr. No.</th>
            <th>Book Img</th>
            <!-- <th>Book ID</th> -->
            <th>Book Title</th>
            <th>Author Name</th>
            <th>ISBN</th>
            <th>Genre</th>
            <th>Quantity</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of pagedBooks; index as i">
            <td>{{i+1}}</td>
            <td><img [src]="'data:image/png;base64,' + book.base64Image" class="img-thumbnail book-img"
                class="card-img-top fixed-image" alt="Book Image"></td>
            <!-- <td>{{book.bookId}}</td> -->
            <td>{{book.bookName}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.quantity}}</td>
            <!-- <td><a [routerLink]="['/admin/viewBooks/update_Book', book.bookId]" class="btn btn-sm btn-outline-light">Edit</a></td> -->
            <!-- <td><a href="'/admin/viewBooks/update_book', book.bookId" class="btn btn-sm btn-outline-light">Edit</a></td> -->
            <td>
              <a [routerLink]="['/admin/update_book', book.bookId]" class="btn btn-sm btn-outline-light">
                Edit
              </a>
            </td>


          </tr>
        </tbody>
      </table>
      <!-- Pagination Controls -->
      <nav class="mt-3">
        <ul class="pagination justify-content-center">

          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
          </li>

          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1">
            <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
          </li>

          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
  <!-- Pending Returns -->
  <div class="card card-custom mb-3 shadow-sm" id="Pending-Book">
    <div class="card-header bg-dark text-white fw-bold d-flex justify-content-between align-items-center">
      Pending Returns
      <button class="btn btn-success" (click)="downloadPDF()">Download</button>
    </div>

    <div class="card-body p-0 table-responsive">
      <table class="table table-dark table-hover table-bordered m-0">
        <thead class="thead-dark">
          <tr>
            <th>User ID</th>
            <th>Book ID</th>
            <th>Order Date</th>
            <th>DueDate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issu of pagedPendingBooks">
            <td>{{ issu.userId }}</td>
            <td>{{ issu.bookId }}</td>
            <td>{{ issu.issueDate }}</td>
            <td>{{issu.dueDate}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <nav class="mt-3">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="pendingCurrentPage === 1">
            <a class="page-link" (click)="goToPageP(pendingCurrentPage - 1)">Previous</a>
          </li>

          <li class="page-item" *ngFor="let page of [].constructor(pendingTotalPages); let i = index"
            [class.active]="pendingCurrentPage === i + 1">
            <a class="page-link" (click)="goToPageP(i + 1)">{{ i + 1 }}</a>
          </li>

          <li class="page-item" [class.disabled]="pendingCurrentPage === pendingTotalPages">
            <a class="page-link" (click)="goToPageP(pendingCurrentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <!-- Returned Books -->
  <div class="card card-custom mb-3 shadow-sm" id="returnedBook">
    <div class="card-header bg-dark text-white fw-bold">Returned Books</div>

    <div class="card-body p-0 table-responsive">
      <table class="table table-dark table-hover table-bordered m-0">
        <thead class="thead-dark">
          <tr>
            <th>User ID</th>
            <th>Book ID</th>
            <th>Returned Date</th>
            <th>Issue Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of pagedReturnedBooks">
            <td>{{ issue.userId }}</td>
            <td>{{ issue.bookId }}</td>
            <td>{{ issue.returnDate }}</td>
            <td>{{issue.issueDate}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <nav class="mt-3">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="returnedCurrentPage === 1">
            <a class="page-link" (click)="goToPageR(returnedCurrentPage - 1)">Previous</a>
          </li>

          <li class="page-item" *ngFor="let page of [].constructor(returnedTotalPages); let i = index"
            [class.active]="returnedCurrentPage === i + 1">
            <a class="page-link" (click)="goToPageR(i + 1)">{{ i + 1 }}</a>
          </li>

          <li class="page-item" [class.disabled]="returnedCurrentPage === returnedTotalPages">
            <a class="page-link" (click)="goToPageR(returnedCurrentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <router-outlet />