<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="stat-card bg-light">
                <div class="d-flex align-items-center">
                    <div class="mr-3">
                        <i class="fas fa-users stat-icon"></i>
                    </div>
                    <div>
                        <div class="stat-value">{{totalUser}}</div>
                        <div class="text-muted">Users</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
            <div class="stat-card bg-light">
                <div class="d-flex align-items-center">
                    <div class="mr-3">
                        <i class="fas fa-shopping-cart stat-icon"></i>
                    </div>
                    <div>
                        <div class="stat-value">{{totalBooks}}</div>
                        <div class="text-muted">Books</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
            <div class="stat-card bg-light">
                <div class="d-flex align-items-center">
                    <div class="mr-3">
                        <i class="fas fa-dollar-sign stat-icon"></i>
                    </div>
                    <div>
                        <div class="stat-value">{{totalIssueBooks}}</div>
                        <div class="text-muted">IssueBooks</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-card bg-light">
                <div class="d-flex align-items-center">
                    <div class="mr-3">
                        <i class="fas fa-users stat-icon"></i>
                    </div>
                    <div>
                        <div class="stat-value">{{totalManagers}}</div>
                        <div class="text-muted">Managers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>