<app-navbar></app-navbar>
<div class="container py-5">
  <div class="row">

    <!-- Category Column -->
    <div class="col-md-3 mb-4 category-column">
      <div class="card mb-2" (click)="showAllBooks()">
        <h3>All Books</h3>
      </div>
      <div class="card mb-2" (click)="onCategorySelect('Biography')">
        <h3>Biography</h3>
      </div>
      <div class="card mb-2" (click)="onCategorySelect('Romance')">
        <h3>Romance</h3>
      </div>
      <div class="card mb-2" (click)="onCategorySelect('Fiction')">
        <h3>Fiction</h3>
      </div>
      <div class="card mb-2" (click)="onCategorySelect('Horror')">
        <h3>Horror</h3>
      </div>
      <div class="card mb-2" (click)="onCategorySelect('Adventure')">
        <h3>Adventure</h3>
      </div>
      <div class="card mb-2" (click)="onCategorySelect('Magical Realism')">
        <h3>Magical Realism</h3>
      </div>
      <div class="card mb-2" (click)="onCategorySelect('Self-Help')">
        <h3>Self-Help</h3>
      </div>

    </div>

    <!-- Product Column -->
    <!-- <div class="row g-4"> -->
    <div class="col-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let b of book">
            <div class="card book-card">
              <div class="card-header">
                <img [src]="'data:image/png;base64,' + b.base64Image" class="card-img-top fixed-image" alt="Book Image">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ b.bookName }}</h5>
                <p class="card-text">by {{ b.authorName }}</p>
                <p class="card-text">ISBN - {{ b.isbn }}</p>
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <span class="h6 mb-0">Quantity - {{ b.quantity }}</span>
                </div>
                <div class="card-footer d-grid gap-2">
                  <div class="d-grid gap-2">
                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#productModal"
                      routerLink="/login" (click)="issueSelectedBook(book)">Issue</button>
                    <button class="btn btn-outline-secondary" type="button" id="addToCartBtn"
                      (click)="addToCart(book)">Add to
                      Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>