<app-navbar></app-navbar>

<div class="container py-5">
  <div class="row">
    <!-- Category Column -->
    <div class="col-md-3 mb-4 category-column">
      <div class="card mb-2" (click)="showAllBooks()" style="cursor: pointer;">
        <div class="card-body">
          <h5 class="card-title mb-0">All Books</h5>
        </div>
      </div>

      <div class="card mb-2" *ngFor="let gen of category" (click)="onCategorySelect(gen.genreId)" style="cursor: pointer;">
        <div class="card-body">
          <h5 class="card-title mb-0">{{ gen.genre }}</h5>
        </div>
      </div>
    </div>

    <!-- Product Column -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of book">
          <div class="card book-card h-100">
            <div class="card-header p-0">
              <img [src]="'data:image/png;base64,' + item.base64Image" class="card-img-top fixed-image rounded-2 book-image" alt="Book Image">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.bookName }}</h5>
              <p class="card-text">by {{ item.authorName }}</p>
              <p class="card-text">ISBN - {{ item.isbn }}</p>
            </div>
            <div class="card-footer d-grid gap-2">
            <button class="btn btn-outline-danger btn-sm" type="button" id="addToCartBtn" [disabled]="book.isInWishlist" (click)="addToCart(item)">{{ book.isInWishlist ? 'In Wishlist ❤️' : ' ❤️ Add to Wishlist' }} </button>
              <button class="btn btn-success btn-sm animated-btn" type="button" (click)="issueSelectedBook(item)">
              📚 Issue Book
            </button>
              <!-- <button class="btn btn-success" type="button" (click)="issueSelectedBook(item)">
                Issue
              </button>
              <button class="btn btn-outline-secondary" type="button" (click)="addToCart(item)">
                Add to Cart
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
