<!-- <p>register works!</p> -->
<!-- Registration page -->
<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">

            <fieldset class="border p-3 rounded">
                <legend class="float-none w-auto px-2">Registration</legend>

                <!-- Name Field -->
                <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label formControlName="fname" class="form-label">First Name</label>
                        <input type="fname" class="form-control" id="fname"
                            aria-describedby="fnameHelp">
                        <div *ngIf="regForm.get('fname')?.invalid && regForm.get('fname')?.touched">
                            Firstname is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="lname" class="form-control" formControlName="lname" id="lname"
                            aria-describedby="lnameHelp">
                        <div *ngIf="regForm.get('lname')?.invalid && regForm.get('lname')?.touched">
                            Lastname is required.
                        </div>
                    </div>

                    <!-- Email Field -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email
                            address</label>
                        <input type="email" class="form-control" formControlName="email" id="email"
                            aria-describedby="emailHelp">
                        <div *ngIf="regForm.get('email')?.invalid && regForm.get('email')?.touched">
                            email is required.
                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="mb-3">
                        <label for="password"
                            class="form-label">Password</label>
                        <input type="password" class="form-control"
                            id="password">
                    </div>

                    <div class="mb-3">
                        <label for="mobile"
                            class="form-label">Mobile</label>
                        <input type="mobile" class="form-control"
                            id="Mobile" aria-describedby="Mobile">
                    </div>

                    <!-- Login Button -->
                    <button class="btn btn-primary w-100 my-2" type="submit" [disabled]="regForm.invalid">Register</button>
                    <button class="btn btn-primary w-100"
                        routerLink="/login">Login</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>
