<app-navbar></app-navbar>
<div class="container-fluid">
<div class="row mt-4">
            <div class="col-md-3" *ngFor="let book of books">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw0fHxIZWFkcGhvbmVzfGVufDB8MHx8fDE3Mjk1MDkzMjV8MA&ixlib=rb-4.0.3&q=80&w=1080" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{book.bookName}}</h5>
                        <p class="card-text">by {{book.authorName}}</p>
                        <p class="card-text">by {{book.genre}}</p>
                        <p class="card-text">ISBN - {{book.isbn}}</p>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="h5 mb-0">Quantity - {{book.quantity}}</span>
                            <!-- <div class="rating">
                                ★★★★☆ <small class="text-muted">(4.2)</small>
                            </div> -->
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#productModal">Quick View</button>
                            <button class="btn btn-outline-secondary" type="button" id="addToCartBtn">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>


            
        </div>
</div>