<!-- login page -->
<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row justify-content-center">


        <div class="col-md-6 col-lg-4">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <fieldset class="border p-3 rounded">
                    <legend class="float-none w-auto px-2">Forgot Your Password?</legend>
                    <p class="text-center">No worries! Enter your email and we'll send you a reset link</p>

                    <!-- password Field -->
                    <div class="mb-4">
                        

                        <div class="mb-3">
                            <label for="pass" class="form-label">New Password</label>
                            <input type="pass" formControlName="pass" [(ngModel)]="pass" class="form-control" id="pass"
                                required>
                        </div>

                        <!-- Password Field -->
                        <div class="mb-3">
                            <label for="pass" class="form-label">Confirm Password</label>
                            <input type="pass" formControlName="pass" [(ngModel)]="pass" class="form-control" id="pass"
                                required>
                        </div>

                        <!-- Login Button -->
                        <div>
                            <button type="submit" class="btn btn-info w-30 m-2"> Reset </button>
                           
                        </div>


                        <!-- Forgot Password Link -->
                        <div class="text-center">
                            <p>Don't have an account? <a href="/register" class="text-primary">Sign up</a></p>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>