<div class="container mt-4">
    <!-- Pending Returns Card -->
    <div class="card card-custom mb-3">
        <div class="card-header bg-dark text-white fw-bold">
            Users
        </div>
        <div class="card-body p-0 ">
            <table class="table table-dark-custom table-bordered m-0">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone No.</th>
                        <th>Issue books</th>
                        <th>Fine</th>
                        <th>Block User</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.userId}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.mobileNo}}</td>
                        <td>{{issueCount}}</td>
                        <td></td>
                        <td>
                            <button (click)="blockUser(user.userId)" [disabled]="user.isBlocked"
                                [class.blurred]="user.isBlocked" class="btn btn-danger me-2">Block</button>
                            <button (click)="UnblockUser(user.userId)" [disabled]="!user.isBlocked"
                                [class.blurred]="!user.isBlocked" class="btn btn-success">Unblock</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>